<div class="hr">
    <a href="<?=$this->url->get(array('for' => 'index'));?>">Назад</a>
</div>

<div>
    <form class="form-horizontal" method="post">

        <div class="form-group">
            <label for="userId" class="col-xs-2 control-label">Id пользователя:</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="userId" name="userId">
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-info">Авторизоваться</button>
            </div>
        </div>

    </form>

    <?php if ($this->session->has('userId')): ?>
    <div class="col-xs-offset-1">
        <a class="btn btn-info" href="<?=$this->url->get(array('for' => 'reserve'));?>">Получить приз</a>
    </div>
    <?php endif; ?>

</div>
