<div class="hr">
    <a href="<?=$this->url->get(array('for' => 'index'));?>">Назад</a>
</div>

<div>
    <form class="form-horizontal" method="post">

        <div class="form-group">
            <label for="inputText" class="col-xs-2 control-label">Акция:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="inputText" name="title" placeholder="Название акции" value="<?=$modelCampaign->title;?>">
            </div>
        </div>

        <div class="form-group">
            <label for="inputDateStart" class="col-xs-2 control-label">Дата начала:</label>
            <div class="col-xs-3">
                <input type="date" class="form-control" id="inputDateStart" name="start" value="<?=$modelCampaign->start;?>">
            </div>
            <label for="inputDateStop" class="col-xs-3 control-label">Дата завершения:</label>
            <div class="col-xs-3">
                <input type="date" class="form-control" id="inputDateStop" name="stop" value="<?=$modelCampaign->stop;?>">
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-4">
                <strong>Призы</strong>
            </div>
            <div class="col-xs-2">
                <strong>Количество</strong>
            </div>
            <div class="col-xs-3">
                <strong>Распределение по дням</strong>
            </div>
        </div>

        <?php foreach ($modelCampaign->Prizes as $prizes): ?>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-4">
                <input type="text" class="form-control" id="prizes-<?=$prizes->id;?>" placeholder="Введите количество призов" value="<?=$prizes->title;?>">
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="prizes-<?=$prizes->id;?>" placeholder="Введите количество призов" value="<?=$prizes->count;?>">
            </div>
            <div class="col-xs-2 text-center">
                <a href="<?=$this->url->get(array('for' => 'prize', 'prizeId' => $prizes->id));?>">Распределить</a>
            </div>
            <div class="col-xs-2">
                <a href="<?=$this->url->get(array('for' => 'givingOut', 'prizeId' => $prizes->id));?>">Выдача призов</a>
            </div>
        </div>
        <?php endforeach; ?>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-info">Применить</button>
            </div>
        </div>
    </form>
</div>
