<div class="hr">
    <a href="<?=$this->url->get(array('for' => 'campaign', 'campaignId' => $modelPrizes->Campaign->id));?>">Назад</a>
</div>

<div>
    <form class="form-horizontal" method="post">

        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-2">
                <strong>Id пользователя</strong>
            </div>
            <div class="col-xs-2">
                <strong>Дата брони</strong>
            </div>
            <div class="col-xs-2">
                <strong>Истекает</strong>
            </div>
        </div>

        <?php foreach ($modelPrizes->PrizeReserve as $prizeReserve): ?>
            <?php $date = new DateTime($prizeReserve->date); ?>
        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-2">
                <?=$prizeReserve->user_id;?>
            </div>
            <div class="col-xs-2">
                <?=$date->format('d-m-Y');?>
            </div>
            <div class="col-xs-2">
                <?=$date->modify("+2 day")->format('d-m-Y');?>
            </div>
            <?php if ($prizeReserve->state == 1): ?>
            <div class="col-xs-2 text-center">
                Выдано
            </div>
            <?php else: ?>
            <div class="col-xs-1">
                <button data-reserveid="<?=$prizeReserve->id;?>" class="btn btn-info give">Выдать</button>
            </div>
            <div class="col-xs-1">
                <button data-reserveid="<?=$prizeReserve->id;?>" class="btn btn-info cancel">Отменить</button>
            </div>
            <?php endif; ?>
        </div>
        <?php endforeach; ?>

        <input type="hidden" name="reserveid" value="">
        <input type="hidden" name="action" value="">

    </form>
</div>

<script type="application/javascript">
    $(function(){
        $('.give').click(function(e) {
            var elem = $(this);
            reserveAction(elem, 'give');
        });
        $('.cancel').click(function(e) {
            var elem = $(this);
            reserveAction(elem, 'cancel');
        });
    });
    function reserveAction(elem, action) {

        $('input[name="reserveid"]').val(elem.data('reserveid'));
        $('input[name="action"]').val(action);

        $('.form-horizontal').submit();
    }
</script>
