<div>
    <div class="col-xs-2">
        <?php foreach ($modelCampaign as $campaign) : ?>
            <div>
                <a href="<?=$this->url->get(array('for' => 'campaign', 'campaignId' => $campaign->id));?>"><?=$campaign->title;?></a>
            </div>
        <?php endforeach; ?>
    </div>

    <div class="col-xs-2">
        <a href="<?=$this->url->get(array('for' => 'authorize'));?>">Получить приз</a>
    </div>
</div>
