<div class="hr">
    <a href="<?=$this->url->get(array('for' => 'campaign', 'campaignId' => $modelPrizes->Campaign->id));?>">Назад</a>
</div>

<div>

    <form class="form-horizontal" method="post">

        <div class="form-group">
            <div class="col-xs-offset-1">
                <strong><?=$modelPrizes->title;?></strong>
            </div>
        </div>

        <?php foreach ($resultArray as $date=>$count): ?>
            <?php $dateTitle = new DateTime($date); ?>
            <div class="form-group">
                <label for="date-<?=$date;?>" class="col-xs-2 control-label"><?=$dateTitle->format('d-m-Y');?>:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control count" data-date="<?=$date;?>" id="date-<?=$date;?>" name="count" placeholder="Введите количество призов" value="<?=$count;?>">
                </div>
            </div>

        <?php endforeach; ?>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-info">Применить</button>
            </div>
        </div>

        <input type="hidden" name="distribution" value="">
    </form>
</div>

<script type="application/javascript">
    $(function(){
        $('button[type="submit"]').click(function(e) {
            e.preventDefault();

            var result = [],
                countCheck = 0,
                totalCount = <?=$modelPrizes->count;?>,
                zeroCheck = false;
            $('.count').each(function(index, elem){
                var date  = $(elem).data('date'),
                    count = $(elem).val();
                result.push([date,count]);

                if (count < 1) {
                    zeroCheck = true;
                    return;
                }

                countCheck += parseInt(count);
            });

            if (zeroCheck) {
                alert('Значение доблжно быть положительное');
                return;
            }

            if (countCheck != totalCount) {
                alert('Количество выделенных призов не совпадает с распределённым количеством' +
                '\nВыделено: ' + totalCount + '\nРаспределено: ' + countCheck);
                return;
            }

            // Жмем в JSON
            $('input[name="distribution"]').val(JSON.stringify(result));

            $('.form-horizontal').submit();
        });
    });
</script>
