<div class="hr">
    <a href="<?=$this->url->get(array('for' => 'authorize'));?>">Назад</a>
</div>

<div>
    <form class="form-horizontal" method="post">

        <?php foreach ($modelCampaign as $campaign): ?>

            <div class="col-xs-offset-1 hr">
                <strong><?=$campaign->title;?></strong>
            </div>

            <?php foreach ($campaign->Prizes as $prize): ?>
            <div class="form-group">
                <label for="prize-<?=$prize->id;?>" class="col-xs-2 control-label"><?=$prize->title;?></label>
                <div class="col-xs-4">
                    <?php if ($reservedPrizesState[$prize->id] == 1): ?>
                        <input type="button" disabled class="btn btn-info" value="Приз уже выдан">
                    <?php else: ?>
                        <input type="button" class="btn btn-info <?=(in_array($prize->id, $reservedPrizesIds))?'cancel':'reserve';?>" data-prizeid="<?=$prize->id;?>" value="<?=(in_array($prize->id, $reservedPrizesIds))?'Отменить бронь':'Забронировать';?>">
                    <?php endif; ?>
                </div>
            </div>
            <?php endforeach; ?>

        <?php endforeach; ?>

    </form>
</div>

<script type="application/javascript">
    $(function(){
        $(document).on('click', '.reserve', function(e) {
            var button = $(this),
                url    = '<?=$this->url->get(array('for' => 'reserveApi'));?>';
            request('reserve', button, url);
        });
        $(document).on('click', '.cancel', function(e) {
            var button = $(this),
                url    = '<?=$this->url->get(array('for' => 'cancelApi'));?>';
            request('cancel', button, url);
        });
    });
    function request(action, elem, url) {
        $.ajax({
            method: 'POST',
            url: url,
            data: {
                prizeId: elem.data('prizeid')
            },
            dataType: 'json'
        }).done(function(result) {
            alert(result.message);
            if (result.success) {
                if (action == 'cancel') {
                    elem.val('Забронировать');
                    elem.removeClass('cancel').addClass('reserve');
                } else {
                    elem.val('Отменить бронь');
                    elem.removeClass('reserve').addClass('cancel');
                }
            }
        });
    }
</script>
